<!DOCTYPE html>
<html>
  <head>
    <title> main blog</title>
  </head>

  <body>
    <h1> main blog </h1>
    <p> <a href = "/"> Add Entry </a>  <a href = "/blog"> View Posts </a> </p>

    <form method="post">

      <label>
        <div>title</div>
        <input type="text" name="title" value = {{title}}>
      </label>

      <label>
        <div> blog post </div>
        <textarea name="NewPost">{{NewPost}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">

    </form>
{% block content %}
{% endblock %}

  </body>

</html>
